<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--せめてUsername、PasswordとUrlの値を切替してください！-->
		<add name="MyCDSServer" connectionString="AuthType=OAuth;Username=Yourユーザー名;Password=Yourパスワード;Url=https://Yourドメイン名.crm7.dynamics.com;AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;LoginPrompt=False" />
		<!--データ格納用ローカルフォルダを指定してください！-->
		<add name="RootFolderPath" connectionString="C:\Attachment" />
	</connectionStrings>
</configuration>